<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 日志存放路径 -->
    <property name="log.path" value="./logs" />
    <!-- 日志输出格式 -->
    <property name="log.pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - [%method,%line] - %msg%n" />

    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <!-- 系统日志输出 -->
    <appender name="file_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/jeelowcode-info.log</file>
        <!-- 循环政策：基于时间创建日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件名格式 -->
            <fileNamePattern>${log.path}/jeelowcode-info.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 过滤的级别 -->
            <level>INFO</level>
            <!-- 匹配时的操作：接收（记录） -->
            <onMatch>ACCEPT</onMatch>
            <!-- 不匹配时的操作：拒绝（不记录） -->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="file_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/jeelowcode-error.log</file>
        <!-- 循环政策：基于时间创建日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件名格式 -->
            <fileNamePattern>${log.path}/jeelowcode-error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 过滤的级别 -->
            <level>ERROR</level>
            <!-- 匹配时的操作：接收（记录） -->
            <onMatch>ACCEPT</onMatch>
            <!-- 不匹配时的操作：拒绝（不记录） -->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root level="info">
        <appender-ref ref="console" />
    </root>

    <!--系统操作日志-->
    <root level="info">
        <appender-ref ref="file_info" />
        <appender-ref ref="file_error" />
    </root>


    <!-- 特定包的日志级别配置 -->
    <logger name="com.jeelowcode" level="INFO" />
    <logger name="com.jeelowcode.core.framework.mapper" level="DEBUG" />
    <logger name="com.jeelowcode.core.framework.service" level="DEBUG" />
    <logger name="com.jeelowcode.core.flow.mapper" level="DEBUG" />
    <logger name="com.jeelowcode.core.flow.service" level="DEBUG" />
    <logger name="com.jeelowcode.service.bpm.mapper" level="DEBUG" />
    <logger name="com.jeelowcode.service.bpm.service" level="DEBUG" />
    <logger name="com.jeelowcode.service.infra.mapper" level="DEBUG" />
    <logger name="com.jeelowcode.service.infra.service" level="DEBUG" />
    <logger name="com.jeelowcode.service.system.mapper" level="DEBUG" />
    <logger name="com.jeelowcode.service.system.service" level="DEBUG" />

    <!-- 设置特定类只记录ERROR级别日志 -->
    <logger name="com.jeelowcode.core.framework.mapper.LogApiMapper" level="ERROR" />
    <logger name="com.jeelowcode.core.framework.mapper.LogApiErrorMapper" level="ERROR" />
    <logger name="com.jeelowcode.service.system.mapper.OperateLogMapper" level="ERROR" />
    <logger name="org.springframework.context.support.PostProcessorRegistrationDelegate" level="ERROR" />
    <logger name="org.mybatis.spring.mapper.ClassPathMapperScanner" level="ERROR" />
    <logger name="de.codecentric" level="ERROR" />



</configuration>